@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://p84.cooltext.com/Rendered/Cool%20Text%20-%20KRCars1298%20434788907966132.png" alt="LogoSite">
        </div>
    </div>
</div>
